body {
    font-family: Arial, sans-serif;
    max-width: 800px;
    margin: auto;
    padding: 20px;
}

.company-name {
    text-align: center;
    font-weight: 900;
    font-size: 28px;
}

.company-details {
    text-align: center;
    margin-bottom: 20px;
}

button {
    padding: 10px 20px;
    margin: 5px 0;
    cursor: pointer;
}

label {
    display: block;
    margin-top: 10px;
}

input, select {
    width: 100%;
    padding: 8px;
    margin-top: 3px;
}
